.starter-template {
  padding: 20px 15px 0;
  text-align: center;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  min-width: 320px;
  background: #F7F7F7 url(img/bg3.jpg);
  text-shadow: 0px 1px 0px #fafafa;
}
body,
body a,
body a:hover,
body small {
  color: #E91E63;
/*  color: #333;*/
}
a,
a:hover,
a:focus {
  outline: none;
}
#mmenu {
  border-color: #AD1457;
  background: #e91e63;
  background: -webkit-linear-gradient(top, #ec407a 0%, #e91e63 100%);
  background: -webkit-linear-gradient(top, #ec407a 0%, #e91e63 100%);
  background: linear-gradient(to bottom, #ec407a 0%,#e91e63 100%);
}
#mmenu .wrap {
  padding: 0 15px;
}
#mmenu .navbar-nav>li>a {
  color: #fff;
  font-size: 16px;
  line-height: 1;
  text-shadow: none;
}
#mmenu .navbar-nav>li.active>a,
#mmenu .navbar-nav>li>a:hover {
  text-decoration: underline;
  background: none;
  box-shadow: none;
}
/*
#mmenu .navbar-nav>li.active {
}
*/
#mmenu .navbar-toggle {
  border-color: #f6f6f6;
  -webkit-transition: all .15s;
          transition: all .15s;
}
#mmenu .navbar-toggle:hover,
#mmenu .navbar-toggle:focus {
  background-color: #f6f6f6;
  border-color: #e91e63;
}
#mmenu .navbar-toggle .icon-bar {
  background-color: #f1f1f1;
  -webkit-transition: all .15s;
          transition: all .15s;
}
#mmenu .navbar-toggle:hover .icon-bar,
#mmenu .navbar-toggle:focus  .icon-bar {
  background-color: #e91e63;
}
.header {
  margin: 0 15px 20px;
  border-bottom: 1px solid;
}
.header > div {
  margin-bottom: 20px;
}
.header .tel,
.header .tel:hover {
  display: block;
  text-align: left;
  padding: 15px 0 0px;
  font-size: 36px;
  line-height: 1;
  text-decoration: none;
  cursor: default;
  -webkit-transition: none;
  transition: none;
}
.logo {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
h1 {
  margin: 0px;
  font-size: 36px;
  line-height: 1;
  text-align: left;
}
h1 span {
  display: inline-block;
  padding-bottom: 10px;
  font-family: 'Lobster', cursive;
  font-size: 42px;
}
h1 small {
  display: block;
  padding-top: 10px;
  line-height: 1;
}
h2,
.h2 {
  font-size: 30px;
}
.alert {
  margin: 20px 0;
  padding: 30px;
/*  border: 1px solid #ccc;*/
  border: 1px solid;
  border-left-width: 5px;
/*  border-left-color: #E91E63;*/
  border-right-top: #ccc;
  border-right-color: #ccc;
  border-right-bottom: #ccc;
  border-radius: 3px;
  background: #FCE4EC;
  font-size: 32px;
}
.alert a {
  display: block;
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.alert a:hover {
  text-decoration: none;
  padding-left: 20px;
}
.intro a {
  margin-bottom: 5px;
}
.soc a i {
  font-size: 60px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.soc a:hover {
  padding: 0 30px;
}
.soc a:hover i {
  font-size: 80px;
}
.soc .intro a:hover {
  padding: 0 15px;
}
.navbar {
  background: #E91E63;
  border-color: #E91E63;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-size: 20px;
  border-color: #333;
  background: #E91E63;
}
.navbar-inverse .navbar-toggle {
  border-color: #E91E63;
}
.bottom {
  margin: 20px 0 0;
  font-size: 20px;
  line-height: 1;
/*  color: #D81B60;*/
}
.wg {
  width: 260px;
  margin-top: 20px;
}
.in .icon {
  text-align: right;
}
.vk .icon {
  text-align: left;
}
.in .wg {
  float: right;
}
.vk .wg {
  float: left;
}
.intro {
  margin: 0 0 20px;
  font-size: 19px;
  text-align: left;
  text-shadow: 0px 1px 0px #fafafa;
}
.intro p {
  margin: 0 0 10px;
}
.intro img {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 4px;
  background: #F7F7F7;
/*  border: 2px solid #E91E63;*/
  border: 2px solid;
}
.cal iframe {
  width: 100% !important;
}
.gallery {
  margin: 20px 15px;
  padding: 20px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
h2 {
  margin: 0 0 20px;
  text-align: center;
}
.gallery a,
.gallery a:hover {
  position: relative;
  display: block;
  margin: 0 0 20px;
  padding: 0;
}
.gallery a .text {
  position: absolute;
  left: 6px;
  right: 6px;
  bottom: 6px;
  padding: 0 20px;
  color: #e4e4e4;
  text-shadow: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
}
.gallery a .text .title {
  margin: 10px 0;
  font-size: 16px;
  text-transform: uppercase;
}
.gallery a .text .descr {
  display: none;
  margin: 10px 0 15px;
  padding: 5px 0 0;
  border-top: 1px solid #666;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.3;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.gallery a .icon {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 3px #000;
  -webkit-transition: All .2s;
  transition: All .2s;
}
.gallery a:hover .icon {
  top: 15px;
  visibility: visible;
  opacity: .8;
}
.gallery a:hover .icon:hover {
  opacity: 1;
}
/*
.gallery a:hover .text .descr {
    display: block;
}
*/

.gallery img {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 4px;
  background: #F7F7F7;
/*  border: 2px solid #E91E63;*/
  border: 2px solid;
}
.blueimp-gallery > .title {
  padding-left: 5px;
  padding-right: 5px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.blueimp-gallery > .description {
  position: absolute;
  top: 45px;
  left: 15px;
  color: #fff;
  display: none;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.blueimp-gallery > .description:hover {
  opacity: 1;
}
.blueimp-gallery-controls > .description {
  display: block;
}
.blueimp-gallery > .indicator > li {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-size: cover;
}
.price {
  margin: 20px 15px;
  padding: 20px 0;
  border-bottom: 1px solid;
}
.price h3 {
  border-bottom: 1px dashed;
  display: inline-block;
  line-height: 1;
}
.price ul {
  padding: 0;
  list-style: none;
  text-align: left;
  font-size: 18px;
}
.price ul li {
  display: block;
  padding: 5px;
  line-height: 1.2;
  overflow: hidden;
}
.price ul li:nth-child(odd) {
  background: #F8BBD0;
}
.price ul li i {
  box-sizing: border-box;
  float: left;
  width: 70%;
}
.price ul li span {
  box-sizing: border-box;
  float: right;
  width: 30%;
  /*  font-weight: 700;*/
  display: inline-block;
  padding-left: 10px;
  /*  font-style: italic;*/
}
@media (max-width: 1004px) {
  .in .icon,
  .vk .icon {
    text-align: center;
  }
  .in .wg,
  .vk .wg {
    float: none;
    margin: 20px auto 0;
  }
  h1,
  .header .tel,
  .header .tel:hover {
    text-align: center;
    font-size: 32px;
  }
}
@media (max-width: 500px) {
  .blueimp-gallery > .description,
  .blueimp-gallery > .indicator {
    display: none !important;
  }
}
@media (max-width: 400px) {
  .starter-template {
    padding-left: 0;
    padding-right: 0;
  }
  .alert {
    margin: 10px 0;
    padding: 15px 0;
  }
}
